<div class="form-group @(AlignContent == AlignContent.Center ? "form-group-content-center" :
                           AlignContent == AlignContent.Right ? "form-group-content-right" :
                           "") @Class">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public AlignContent AlignContent { get; set; } = AlignContent.Left;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
  