@page "/projects"

@using LightTown.Client.Services.Users

@inject IUserDataService UserDataService
@inject NavigationManager NavigationManager

<Grid>
    <GridColumn ColumnSize="ColumnSize.Full">
        @if (_projects != null)
        {
            @foreach (var project in _projects)
            {
                <GridItem>

                    <Card>
                        <FormGroup>
                            <p1>Project name: @project.ProjectName</p1>
                        </FormGroup>
                        <FormGroup>
                            <p1>Project members: @project.MemberCount</p1>
                        </FormGroup>
                        <FormGroup>
                            <Button Enabled="@true" Text="View Project" OnClick="@(() => ViewProject(project.Id))" Size="ButtonSize.Full"></Button>
                        </FormGroup>
                    </Card>
                </GridItem>
            }
        }
    </GridColumn>
</Grid>

@code {

    List<Core.Models.Projects.Project> _projects;

    protected override async Task OnInitializedAsync()
    {
        _projects = await UserDataService.GetProjects();
    }

    private Task ViewProject(int projectId)
    {
        NavigationManager.NavigateTo("/projects/" + projectId);

        return Task.CompletedTask;
    }
}
