@if (!Enabled)
{
    <button class="button @Class @(Size == ButtonSize.Small ? "button-small" : Size == ButtonSize.Big ? "button-big" : Size == ButtonSize.Full ? "button-full" : "button-medium")" @onclick="@Click" disabled>
        @if (_loading)
        {
            <div class="spinner-border" role="status">
            </div>
        }
        else
        {
            @Text
        }
    </button>
}
else
{
    <button class="button @Class @(Size == ButtonSize.Small ? "button-small" : Size == ButtonSize.Big ? "button-big" : Size == ButtonSize.Full ? "button-full" : "button-medium")" @onclick="@Click">
        @if (_loading)
        {
            <div class="spinner-border" role="status">
            </div>
        }
        else
        {
            @Text
        }
    </button>
}

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    [Parameter]
    public Func<Task> OnClick { get; set; }

    [Parameter]
    public bool Enabled { get; set; }

    private bool _loading;

    private async Task Click()
    {
        if (OnClick != null && Enabled)
        {
            Enabled = false;

            StateHasChanged();

            _loading = true;

            StateHasChanged();

            await OnClick.Invoke();

            Enabled = true;

            StateHasChanged();

            _loading = false;

            StateHasChanged();
        }
    }
}
