@inherits LayoutComponentBase

<div class="main d-flex vh-100 flex-column">
    <nav class="navbar navbar-dark pl-4" style="background-image: linear-gradient(90deg, rgb(217, 9, 9) 0%, #850505 90%);">
        <h1 class="mx-auto text-white">LightTown</h1>
    </nav>

    <div class="col flex-grow-1">
        <div class="container w-50 h-auto mt-5">
            @Body
        </div>
    </div>
</div>

