:root {
    /* alert foreground colors */
    --standard-alert-color: white;
    --success-alert-color: white;
    --error-alert-color: white;
    --warning-alert-color: white;
    /* alert background color */
    --standard-alert-background-color: #317caa;
    --success-alert-background-color: #2d8a25;
    --error-alert-background-color: #d52626;
    --warning-alert-background-color: #bd8010;
    /* alert border color */
    --standard-alert-border-color: #7dbadf;
    --success-alert-border-color: #61bd5a;
    --error-alert-border-color: #ff6060;
    --warning-alert-border-color: #eab658;
}

.alert-outer {
    position: relative;
}

.alert {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 0;
    display: flex;
}

@keyframes showalert {
    from {
        max-height: 0;
        font-size: 0;
    }

    to {
        max-height: 100px;
    }
}

@keyframes hidealert {
    from {
        max-height: 100px;
    }

    to {
        max-height: 0;
        font-size: 0;
    }
}

@keyframes showtext {
    from {
        padding: 0 1.25rem;
        font-size: 0px;
    }

    to {
        padding: .75rem 1.25rem;
    }
}

@keyframes hidetext {
    from {
        padding: .75rem 1.25rem;
    }

    to {
        font-size: 0px;
        padding: 0 1.25rem;
    }
}

@keyframes showtexts {
    from {
        font-size: 0px;
    }

    to {
    }
}


@keyframes hidetexts {
    from {
    }

    to {
        font-size: 0px;
    }
}

.alert-showing {
    animation-name: showalert;
    animation-duration: 1s;
}

.alert-hiding {
    animation-name: hidealert;
    animation-duration: 1s;
}

.alert-text-showing {
    animation-name: showtext;
    animation-duration: 1s;
}

.alert-texts-showing {
    animation-name: showtexts;
    animation-duration: 1s;
}

.alert-text-hiding {
    animation-name: hidetext;
    animation-duration: 1s;
}

.alert-texts-hiding {
    animation-name: hidetexts;
    animation-duration: 1s;
}

.alert-text {
    flex-grow: 1;
    padding: .75rem 1.25rem;
    display: flex;
    flex-direction: column;
}

.alert-title {
    font-size: 24px;
}

.alert-body {
    font-size: 16px;
}

.alert-close {
    cursor: pointer;
    font-size: x-large;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 1.25rem;
    font-size: 24px;
}



.alert-warning {
    color: var(--warning-alert-color);
    background: var(--warning-alert-background-color);
    border: 1px solid var(--warning-alert-border-color);
}

.alert-success {
    color: var(--success-alert-color);
    background: var(--success-alert-background-color);
    border: 1px solid var(--success-alert-border-color);
}

.alert-standard {
    color: var(--standard-alert-color);
    background: var(--standard-alert-background-color);
    border: 1px solid var(--standard-alert-border-color);
}

.alert-error {
    color: var(--error-alert-color);
    background: var(--error-alert-background-color);
    border: 1px solid var(--error-alert-border-color);
}