.modal {
    border: 1px solid #646464;
    border-radius: 6px;
    padding: 8px;
    background: var(--primary-bg-color);
    display: initial;
    width: initial;
    height: initial;
    top: initial;
    left: initial;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-visible {
    display: flex;
}

.modal-hidden {
    display: none;
}

.modal-showing {
    animation-name: showmodal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-hiding {
    animation-name: hidemodal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showmodal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hidemodal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}